<mat-form-field color="accent" appearance="outline" class="custom-form-field" appMonth>
  <input matInput [matDatepicker]="picker1" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1 color="primary" startView="multi-year" (monthSelected)="setMonthAndYear($event, picker1)" panelClass="example-month-picker"></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline" class="custom-form-field">
  <mat-select [(value)]="selected1" (selectionChange)="getItem()">
    <mat-option *ngFor="let item of deviceList;let i=index" [value]="i">
      {{item.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="custom-form-field">
  <mat-select [(value)]="selected2" (selectionChange)="getData()">
    <mat-option *ngFor="let item of itemList;let i=index" [value]="i">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>


<button mat-raised-button (click)="downLoad()">Download</button>

<ng-container *ngIf="showSpinner">
  <div class="overlay"></div>
  <mat-spinner></mat-spinner>
</ng-container>
