.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

table{
  width: 100%;
}

.container{
  display: flex;
}

table{
  border: solid 1px;
  font-size: 20px;
}

.title{
  background: #025ca6;
  color: #fff;
}

td{
  height: 40px;
  text-align: center;
}

.light-background{
  background: #cddeed;
  width: 150px;
}

.dark-background{
  background: #98bedb;
  width: 60px;
}

img{
  margin: 10px;
}

.mainImg{
  margin: 0px 15px;
}

.autoTable{
  display: flex;
}

.device{
  position: relative;
  bottom: -150px;
}

.arrow{
  position: relative;
  bottom: -180px;
}

.cell-table{
  margin: 0px 15px;
  width: 160px;
}
