/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* 隱藏 Y 軸滾動條 */
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

/* 保留 X 軸滾動條 */
::-webkit-scrollbar-x {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

/* 客製化 X 軸滾動條樣式 */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 15px;
}

body{
  background: #002b5c;
}

/*改變.mat-form-field的一些間距*/
.mat-form-field.custom-form-field .mat-form-field-wrapper {
  margin: 0;
}

.mat-form-field-wrapper{
  padding-bottom: 0;
}

/*由於改變表格設定,所以這邊將表格內icon置中*/
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: none !important;
}

/*改變input內字體*/
input.mat-input-element{
  font-size: 20px;
}

/* 將文字顏色設為白色 */
/* .custom-form-field .mat-select-value {
  color: #fff;
} */

.p-dropdown .p-dropdown-label{
  background: #002b5c;
  border: 0 none;
  color: #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.p-dropdown .p-dropdown-trigger{
  background: #002b5c;
  color: #6c757d;
  width: 3rem;
}
