<!-- <div class="container">
  <div class="box">
    <div>Signal</div>
  </div>
</div>

<br><br><br> -->

<div class="table-container">
  <div class="table-box">
    <h2>{{title}}</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay;let i=index">
        <th mat-header-cell *matHeaderCellDef style="padding:0;"> {{displayedColumns[i]}} </th>
        <td mat-cell *matCellDef="let element" style="padding:0;"> {{element[column]}} </td>
      </ng-container>


      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<ng-container *ngIf="showSpinner">
  <div class="overlay"></div>
  <mat-spinner></mat-spinner>
</ng-container>
